raspberrypi/ui/node_red.json
[
    {
        "id": "f1_http_in",
        "type": "http in",
        "z": "flow1",
        "name": "Receive Patient Data",
        "url": "/patient-data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 60,
        "wires": [["f1_json"]]
    },
    {
        "id": "f1_json",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 60,
        "wires": [[
            "f1_name",
            "f1_surname",
            "f1_age",
            "f1_sex",
            "f1_allergies",
            "f1_cholesterol",
            "f1_pathology",
            "f1_medication",
            "f1_active"
        ]]
    },
    {
        "id": "f1_name",
        "type": "ui_text",
        "z": "flow1",
        "group": "group_info",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Name",
        "label": "Name",
        "format": "{{payload['First Name']}}",
        "layout": "row-spread",
        "x": 540,
        "y": 40,
        "wires": []
    },
    {
        "id": "f1_surname",
        "type": "ui_text",
        "z": "flow1",
        "group": "group_info",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Surname",
        "label": "Surname",
        "format": "{{payload['Last Name']}}",
        "layout": "row-spread",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "f1_age",
        "type": "ui_text",
        "z": "flow1",
        "group": "group_info",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Age",
        "label": "Age",
        "format": "{{payload['Date of Birth']}}",
        "layout": "row-spread",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "f1_sex",
        "type": "ui_text",
        "z": "flow1",
        "group": "group_info",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Sex",
        "label": "Sex",
        "format": "{{payload['Sex']}}",
        "layout": "row-spread",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "f1_allergies",
        "type": "ui_text",
        "z": "flow1",
        "group": "group_allergies",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Allergies",
        "label": "Allergies",
        "format": "{{payload['Allergies']}}",
        "layout": "row-spread",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "f1_cholesterol",
        "type": "ui_text",
        "z": "flow1",
        "group": "group_cholesterol",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Cholesterol",
        "label": "Cholesterol",
        "format": "{{payload['Cholesterol Level']}}",
        "layout": "row-spread",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "f1_pathology",
        "type": "ui_text",
        "z": "flow1",
        "group": "group_pathology",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Pathology",
        "label": "Pathology",
        "format": "{{payload['Pathology']}}",
        "layout": "row-spread",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "f1_medication",
        "type": "ui_text",
        "z": "flow1",
        "group": "group_medication",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Medication",
        "label": "Medication",
        "format": "{{payload['Medication']}}",
        "layout": "row-spread",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "f1_active",
        "type": "ui_text",
        "z": "flow1",
        "group": "group_active",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Active Ingredient",
        "label": "Active Ingredient",
        "format": "{{payload['Active Ingredient']}}",
        "layout": "row-spread",
        "x": 590,
        "y": 200,
        "wires": []
    }
]  